body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: relative;
    background-color: #f0f0f0;
}

#resetBtn {
    position: absolute;
    top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}

#ball {
    font-size: 200px;
    cursor: pointer;
    position: absolute;
    top: 150px;
    transition: transform 0.3s; 
    transform-origin: bottom center;
}

#bottle {
    width: 240px; 
    height: auto;  
    position: absolute;
    top: 350px;
}